html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Questrial', sans-serif;
	font-size: 14px;
	background-color: black;
	letter-spacing: 1px;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

p {
	font-size: 1em;
}

.navbar {
	height: 2em;
	color: grey;
	line-height: 2em;
	z-index: 10;
	margin: 0;
	padding: 20px 40px 20px;
}

.nav-brand {
	font-size: 2em;
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
}

.nav-brand-sub {
	font-size: 2em;
	color: rgb(100, 100, 200);
	letter-spacing: 5px;
	text-decoration: none;
	text-align: center;
	padding-left: 20px;
}

.nav-items {
	float: right;
}

.nav-items a {
	font-size: 1.5em;
	color: grey;
	transition: color 0.3s ease;
	text-decoration: none;
	font-weight: 500;
	margin-right: 30px;
}

.nav-items a:hover {
	border-bottom: 1px dashed white;
	transition: border-bottom 0.3s ease;
	color: white;
	transition: color 0.3s ease;
}

.nav-selected {
	color: white !important;
}

.content {
	position: relative;
	width: 100%;
	padding-left: 10px;
	padding-right: 20px;
	overflow-y: hidden;
}

.section {
	width: 90%;
	margin: auto;
	z-index: 1;
	font-weight: 50;
	padding-bottom: 100px;
}

.section-home {
	/* background-color: purple; */
}

.section-about {

}

.section-portfolio {
	height: 300px;
}

.form-button {
	width: 200px;
	margin: auto;
	padding: 0;
	text-align: center;
	margin-top: 50px;
}

.section-contact form button {
	width: 100%;
	margin: auto;
	padding: 10px;
	font-size: 24px;
	background-color: black;
	transition: background-color 0.3s ease;
	border: 1px solid white;
	color: white;
	transition: color 0.3s ease;
}

.section-contact form button:hover {
	color: black;
	transition: color 0.3s ease;
	background-color: white;
	transition: background-color 0.3s ease;
}

.section-contact form button:focus {
	outline-width: 0;
}

.footer {
	width: 100%;
	color: white;
	font-size: 18px;
	line-height: 50px;
	margin: 0;
	padding: 10px;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.8);
}

.footer-left {
	position: absolute;
	left: 0px;
	width: 40%;
	margin: 0;
	padding-left: 40px;
}

.footer-right {
	position: absolute;
	right: 0px;
	width: 40%;
	margin: 0;
	padding-right: 40px;
	text-align: right;
}

.footer-right a i {
	margin: 0;
	padding: 0;
	margin-left: 20px;
	font-size: 32px;
	color: white;
	transition: color 0.3s ease;
}

.footer-right a i:hover {
	color: rgb(100, 100, 200);
	transition: color 0.3s ease;
}

.footer a {
	text-decoration: none;
	margin: 0;
	padding: 0;
	line-height: 20px;
}

.footer a:hover {
	text-decoration: none;
}

.footer-email {
	width: 100%;
	text-align: center;
	font-size: 32px;
}

.section-banner {
	font-size: 64px;
	width: 70vw;
	/* border: 2px solid white; */
	z-index: 5 !important;
	margin: auto;
	padding-top: 40px;
	color: white;
	text-align: center;
}

.section-banner b {
	color: rgb(100, 100, 200);
}

.section-header {
	width: 100%;
	transition: width 1s ease;
	height: 60px;
	margin: auto;
	color: white;
	text-align: center;
	font-size: 40px;
	line-height: 60px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	text-transform: uppercase;
}

.section-header:hover {
	width: 40vw;
	transition: width 1s ease;
}

.section-text {
	line-height: 25px;
	letter-spacing: 1px;
	font-size: 20px;
	color: white;
	width: 60vw;
	margin: auto;
}

.section-clients {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.section-client {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background-color: rgba(255, 255, 255, 1);
	transition: background-color 0.3s ease;
	border-radius: 360px;
	border: 1px solid white;
	margin: 20px;
	display: inline-block;
	overflow: hidden;
}
.section-client:hover {
	background-color: rgb(255, 255, 255, 0.3);
	transition: background-color 0.3s ease;
}

.section-client a {
	margin: 0;
	padding: 0;
	width: 200px;
	height: 200px;
}

.section-client a img {
	max-width: 200px;
	margin: 0;
	padding: 0;
}

#bc-client {
	margin-top: 30px;
	margin-left: -15px;
}

#bl-client {
	margin-top: 65px;
	margin-left: 0px;
}

#qm-client {
	margin-top: 22.5px;
}

.view-source {
	position: fixed;
	font-size: 18px;
	line-height: 18px;
	color: white;
	width: 100%;
	text-align: center;
	background-color: black;
	z-index: 11;
}

.view-source a {
	color: white;
	text-decoration: none;
}

.view-source a:hover {
	border-bottom: 1px solid white;
}

/* For desktop: */
.col-1 {display: inline; width: 8.33%;}
.col-2 {display: inline; width: 16.66%;}
.col-3 {display: inline; width: 25%;}
.col-4 {display: inline; width: 33.33%;}
.col-5 {display: inline; width: 41.66%;}
.col-6 {display: inline; width: 50%;}
.col-7 {display: inline; width: 58.33%;}
.col-8 {display: inline; width: 66.66%;}
.col-9 {display: inline; width: 75%;}
.col-10 {display: inline; width: 83.33%;}
.col-11 {display: inline; width: 91.66%;}
.col-12 {display: inline; width: 100%;}

@media only screen and (max-width: 768px) {
	.navbar {
		padding: 10px 20px 10px;
	}

    .nav-brand {
		width: 50%;
		font-size: 1.5em;
	}

	.nav-brand-sub {
		width: 50%;
		font-size: 1.5em;
		letter-spacing: 3px;
	}

	.nav-items {
		position: inherit;
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: right;
	}

	.nav-item {
		width: 100%;
		float: none;
		display: block;
		margin: 10px;
		padding: 0;
	}

	.section-banner {
		font-size: 1.5em;
		padding-top: 5vh;
	}

	.section {
		width: 90% !important;
		margin: auto;
	}

	.section-text {
		width: 90% !important;
		margin: auto;
	}

	.section-home {
		padding-top: 50px;
		padding-bottom: 100px;
	}

	.section-about {
		margin-top: 0;
		padding-bottom: 100px;
	}

	.section-portfolio {
		height: auto;
		padding-bottom: 200px;
	}

	.section-header:hover {
		width: 80vw;
	}

	.view-source {
		background-color: black;
		position: inherit;
		width: 100%;
		height: 20px;
		font-size: 18px;
		line-height: 18px;
		margin: 0;
		padding: 10px;
	}

	.footer {
		width: 100%;
		margin: 0;
		padding: 0;
		position: relative;
	}

	.footer-left {
		width: 100%;
		float: none;
		text-align: center;
		margin: 0;
		padding: 0;
		position: relative;
	}

	.footer-right {
		width: 100%;
		float: none;
		text-align: center;
		margin: 0;
		padding: 0;
		position: relative;
	}

	.footer a {
		margin: 0;
		padding: 0;
		margin-left: 20px;
	}

	.footer a i {
		margin: 0;
		padding: 0;
	}
}
