html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Questrial', sans-serif;
	font-size: 14px;
	background-color: black;
	overflow: hidden;
	letter-spacing: 1px;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

p {
	font-size: 1em;
}

.navbar {
	position: absolute;
	width: 100%;
	height: 100px;
	color: grey;
	line-height: 10vh;
	background-color: black;
	display: inline;
	padding-left: 40px;
	z-index: 10;
}

.nav-brand {
	font-size: 1em;
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
}

.nav-brand-sub {
	font-size: 1em;
	color: rgb(100, 100, 200);
	letter-spacing: 5px;
	text-decoration: none;
	text-align: center;
	padding-left: 20px;
}

.nav-items {
	float: right;
	padding-right: 40px;
}

.nav-items a {
	font-size: 1.5em;
	color: grey;
	transition: color 0.3s ease;
	text-decoration: none;
	font-weight: 500;
	margin-right: 30px;
}

.nav-items a:hover {
	border-bottom: 1px dashed white;
	transition: border-bottom 0.3s ease;
	color: white;
	transition: color 0.3s ease;
}

.nav-selected {
	color: white !important;
}

.content {
	position: relative;
	width: 100%;
	height: 90vh;
	padding-left: 10px;
	padding-right: 20px;
	margin-top: 150px;
	overflow-y: scroll;
}

.section {
	width: 90%;
	margin: auto;
	height: 500px;
	z-index: 1;
	font-weight: 50;
	margin-top: 100px;
}

.section-home {
	/* background-color: purple; */
}

.section-about {

}

.section-portfolio {
	height: 300px;
}

.section-contact {
	margin-bottom: 150px;
}

.section-contact .section-header {
	width: 100%;
	margin: auto;
}

.section-contact form {
	width: 40vw;
	margin: auto;
	margin-top: 20px;
	padding: 10px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.section-contact form input {
	width: 100%;
	margin: 0;
	padding: 10px;
	font-size: 24px;
	background-color: black;
	border: 1px solid rgba(255, 255, 255, 0.2);
	color: white;
}

.section-contact form input::placeholder {
	color: white;
}

.section-contact form input:focus {
	outline-width: 0;
}

.section-contact form textarea {
	width: 100%;
	height: 200px;
	margin: 0;
	margin-top: 20px;
	padding: 10px;
	font-size: 24px;
	background-color: black;
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.2);
	resize: none;
}

.section-contact form textarea::placeholder {
	color: white;
}

.section-contact form textarea:focus {
	outline-width: 0;
}

.form-button {
	width: 200px;
	margin: auto;
	padding: 0;
	text-align: center;
	margin-top: 50px;
}

.section-contact form button {
	width: 100%;
	margin: auto;
	padding: 10px;
	font-size: 24px;
	background-color: black;
	transition: background-color 0.3s ease;
	border: 1px solid white;
	color: white;
	transition: color 0.3s ease;
}

.section-contact form button:hover {
	color: black;
	transition: color 0.3s ease;
	background-color: white;
	transition: background-color 0.3s ease;
}

.section-contact form button:focus {
	outline-width: 0;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10vh;
	color: white;
	font-size: 14px;
	margin: 0;
	padding: 0;
	line-height: 10vh;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.8);
}

.footer-left {
	position: absolute;
	left: 0px;
	width: 40%;
	height: 100%;
	margin: 0;
	padding-left: 40px;
}

.footer-right {
	position: absolute;
	right: 0px;
	width: 40%;
	height: 100%;
	margin: 0;
	padding-right: 40px;
	text-align: right;
}

.footer-right a i {
	margin: 0;
	padding: 0;
	margin-left: 20px;
	font-size: 32px;
	color: white;
	transition: color 0.3s ease;
	line-height: 5vh;
}

.footer-right a i:hover {
	color: rgb(100, 100, 200);
	transition: color 0.3s ease;
}

.footer a {
	text-decoration: none;
	margin: 0;
	padding: 0;
	line-height: 5vh;
}

.footer a:hover {
	text-decoration: none;
}

.section-banner {
	font-size: 64px;
	width: 70vw;
	height: 100%;
	/* border: 2px solid white; */
	z-index: 5 !important;
	margin: auto;
	padding-top: 20vh;
	color: white;
	text-align: center;
}

.section-banner b {
	color: rgb(100, 100, 200);
}

.section-header {
	width: 100%;
	transition: width 1s ease;
	height: 60px;
	margin: auto;
	color: white;
	text-align: center;
	font-size: 40px;
	line-height: 60px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.section-header:hover {
	width: 40vw;
	transition: width 1s ease;
}

.section-text {
	line-height: 25px;
	letter-spacing: 1px;
	font-size: 20px;
	color: white;
	width: 60vw;
	margin: auto;
}

.section-clients {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.section-client {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background-color: rgba(255, 255, 255, 1);
	transition: background-color 0.3s ease;
	border-radius: 360px;
	border: 1px solid white;
	margin: 20px;
	display: inline-block;
	overflow: hidden;
}
.section-client:hover {
	background-color: rgb(255, 255, 255, 0.3);
	transition: background-color 0.3s ease;
}

.section-client a {
	margin: 0;
	padding: 0;
	width: 200px;
	height: 200px;
}

.section-client a img {
	max-width: 200px;
	margin: 0;
	padding: 0;
}

#bc-client {
	margin-top: 30px;
	margin-left: -15px;
}

#bl-client {
	margin-top: 65px;
	margin-left: 0px;
}

#qm-client {
	margin-top: 22.5px;
}

.view-source {
	position: fixed;
	top: 5px;
	font-size: 12px;
	color: white;
	width: 100%;
	text-align: center;
}

.view-source a {
	color: white;
	text-decoration: none;
}

.view-source a:hover {
	border-bottom: 1px solid white;
}

/* For desktop: */
.col-1 {display: inline; width: 8.33%;}
.col-2 {display: inline; width: 16.66%;}
.col-3 {display: inline; width: 25%;}
.col-4 {display: inline; width: 33.33%;}
.col-5 {display: inline; width: 41.66%;}
.col-6 {display: inline; width: 50%;}
.col-7 {display: inline; width: 58.33%;}
.col-8 {display: inline; width: 66.66%;}
.col-9 {display: inline; width: 75%;}
.col-10 {display: inline; width: 83.33%;}
.col-11 {display: inline; width: 91.66%;}
.col-12 {display: inline; width: 100%;}

@media only screen and (max-width: 768px) {
    .nav-items {
		width: 100%;
		background-color: black;
		z-index: 10;
	}

	.nav-item {
		width: 100% !important;
		display: block;
		line-height: 30px;
		padding-left: 20px;
	}

	.navbar {
		position: absolute;
	}

	.content {
	}

	.section {
		margin-top: 300px;
	}

	.section-home {
		margin-top: 500px;
	}

	.section-portfolio {
		position: relative;
		margin-top: 700px;
	}

	.section-contact {
		margin-top: 600px;
	}

	.section-contact form {
		width: 100%;
	}

	.footer {
		position: fixed;
		bottom: 0px;
		background-color: black;
	}
}
